.karaoke-host{
    background-color: black;
    .videocontainer{
        margin: auto;
    }
    .header{
        display: none;
        position: fixed;
        top: 5rem;
        max-width: 30vw;
        font-size: 1vw;
        left: 5rem;
        background-color: #edededbb;
        padding: 0.5rem;
        max-width: 900px;
        &.header-show{
            display: block,
        }
    }
    .lyric{
        display: none;
        position: fixed;
        top: 5rem;
        right: 3rem;
        background-color: #edededbb;
        padding: 0.5rem;
        max-width: 50vw;
        font-size: 1vw;
        &.lyric-show{
            display: block,
        }

    }
}